.card__paragraph {
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin: 25px 0 0;
  }
  
  .card__paragraph:nth-child(1) {
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .card__paragraph {
      max-width: 352px;
      margin: 25px 0 0;
    }
  
    .card__paragraph:nth-child(1) {
      margin: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .card__paragraph {
      max-width: 456px;
      margin: 27px 0 0;
      font-size: 18px;
      line-height: 29px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .card__paragraph {
      max-width: 484px;
    }
  }
  


















