.card__website {
    display: flex;
    margin: 0 auto 32px;
    padding: 0;
    width: 288px;
    list-style: none;
    
}

@media screen and (min-width:768px) {
    .card__website {
        width: 352px;
        font-size: 42px;
        line-height: 46px;
        align-items: flex-end;
        margin: 0px 0 48px 10px;

    }    
}

@media screen and (min-width:1024px) {
    .card__website {
        width: 456px;
        margin: 0px 0 48px 15px;

    }    
}

@media screen and (min-width:1280px) {
    .card__website {
        
        
        margin: 0px 0 48px 10px;

    }    
}

