.cover {
  background-image: url(../../images/background1184.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 320px;
  min-height: 200px;
  margin: auto;
  padding: 33px 16px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    padding: 138px 104px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    padding: 195px 232px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    min-height: 740px;
    padding: 245px 312px;
  }
}
