.cover {
    background-image: url(../../images/__background1184.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 320px;
    min-height: 200px;
    margin: auto;
    padding: 33px 16px;
    box-sizing: border-box;
    position: relative;

    
}

@media screen and (min-width: 768px) {
    .cover {
        max-width: 768px;
        max-height: 480px;
        padding: 126px 104px;
    }
    
}

@media screen and (min-width: 1024px) {
    .cover {
        max-width: 1024px;
        max-height: 640px;
        padding: 206px 232px;
    }
    
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        max-height: 740px;
        padding: 257px 312px;
    }
    
}
