.card {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 54px;
}

.card:last-child {
  margin-top: 0px;
  padding-bottom: 65px;
}

@media screen and (min-width: 768px) {
  .card {
    align-items: flex-start;
    flex-direction: row;
    max-width: 720px;
    padding: 0 24px 73px;
  }

  .card:last-child {
    margin-top: 0px;
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 928px;
    padding: 0 48px 80px;
  }

  .card:last-child {
    padding-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    max-width: 984px;
  }
}

